*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;  
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: bisque;
}
.link ul{
    display: flex;
    gap: 50px;
}